<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head');  %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404: Page Not Found</title>

    
</head>
<body>

<div class="container">
    <h1>404: Page Not Found</h1>
    <p>The page you are looking for might have been removed or its name changed or temporarily unavailable.</p>
    <p>Return to <button><a href="./">HOME</a></button></p>
</div>

</body>
</html>
