<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>More than anything</h1>

    <p>yOu...</p>
    <p>Didn't know that wHEn T^T</p>
    <p>I've tried this all before</p>
    <p>My dreams were to hArd to defeeEEeeEEeend~</p>
    <p>And in the end, I won't lose it all again</p>
    <p>Now you're the only thing worth fighting foOOOOooOOOooor ~ </p>
    <p>MORE THAN ANYTHIIIIINNGGGGGGG</p>
    <p>MORE THAN ANYTHIIIIINNGGGGGGGeeegggg</p>


    <button><a href="./">Home</a></button>
    
</body>
</html>